annotated-types==0.6.0
asttokens==2.4.1
Brotli==1.1.0
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
decorator==4.4.2
elevenlabs==0.2.27
executing==2.0.1
ffmpeg==1.4
google-api-core==2.15.0
google-auth==2.26.2
google-cloud-aiplatform==1.39.0
google-cloud-bigquery==3.16.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.11.0
google-cloud-speech==2.23.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
grpc-google-iam-v1==0.13.0
grpcio==1.60.0
grpcio-status==1.60.0
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
ipython==8.20.0
jedi==0.19.1
lazy_loader==0.3
matplotlib-inline==0.1.6
moviepy==1.0.3
mutagen==1.47.0
networkx==3.2.1
numpy==1.26.3
opencv-python==4.9.0.80
packaging==23.2
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
proglog==0.1.10
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.2
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycryptodomex==3.20.0
pydantic==2.5.3
pydantic_core==2.14.6
pydub==0.25.1
Pygments==2.17.2
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.31.0
rsa==4.9
scikit-image==0.22.0
scipy==1.11.4
shapely==2.0.2
six==1.16.0
stack-data==0.6.3
tifffile==2023.12.9
tqdm==4.66.1
traitlets==5.14.1
typing_extensions==4.9.0
urllib3==2.1.0
wcwidth==0.2.13
websockets==12.0
yt-dlp==2023.12.30
